
body {
  @apply m-0 p-0 box-border antialiased;
  font-family: proxima-nova, "Proxima Nova", "Noto Sans Japanese", -apple-system, system-ui, MyYuGothicM, YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  word-spacing: 1px;
  color: var(--color);
  background-color: var(--fcfcfc);
  background-attachment: fixed;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  @screen md {
    font-size: 16px;
  }
}

*,
*::before,
*::after {
  @apply box-border m-0;
}


button {
  outline: none !important;
}
.for-seo {
  @apply m-0 h-0 w-0 overflow-hidden;
}

.badge-normal {
  width: 12px;
  height: 12px;
  top: -3px;
  right: -5px;
  background: $wine-red;
  @apply absolute rounded-full;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}
.page-enter {
  opacity: 0;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
}


.Reshelf-shadow {
  border-radius: 17px;
  box-shadow: 0 4px 25px 0 rgb(0 0 0 / 10%);
}


.vs-tabs--btn {
  @apply whitespace-no-wrap;
}


.text-primary {
  color: var(--primary);
}
.text-green {
  color: #5CD9D1;
}
